In [ ]:
# pip install joypy - initial joypy install

In [1]:
# import libraries
import joypy, pandas as pd, matplotlib.pyplot as plt

In [5]:
# make DataFrame from one of the 2 data files
first_dataset = 'data/movies_2010_to_2014_data.csv'
first_df = pd.read_csv(first_dataset)

In [6]:
# check the result
first_df.head()

,Unnamed: 0,name,rating,genre,gross,release_year
0,1,Toy Story 3,G,"Animation, Adventure, Comedy",415.00,2010
1,2,Alice in Wonderland,PG,"Adventure, Family, Fantasy",334.19,2010
2,3,Iron Man 2,PG-13,"Action, Adventure, Sci-Fi",312.43,2010
3,4,The Twilight Saga: Eclipse,PG-13,"Action, Adventure, Crime",300.53,2010
4,5,Harry Potter and the Deathly Hallows: Part 1,PG-13,"Adventure, Family, Fantasy",295.98,2010

In [7]:
# get column names for DataFrame
first_df.columns

Index(['Unnamed: 0', 'name', 'rating', 'genre', 'gross', 'release_year'], dtype='object')

In [8]:
# rename first column to 'ry_rank' (for release year rank)
first_df.columns = ['ry_rank', 'name', 'rating', 'genre', 'gross', 'release_year']
first_df.columns

Index(['ry_rank', 'name', 'rating', 'genre', 'gross', 'release_year'], dtype='object')

In [21]:
# check the results
first_df.head()

,ry_rank,name,rating,genre,gross,release_year
0,1,Toy Story 3,G,"Animation, Adventure, Comedy",415.00,2010
1,2,Alice in Wonderland,PG,"Adventure, Family, Fantasy",334.19,2010
2,3,Iron Man 2,PG-13,"Action, Adventure, Sci-Fi",312.43,2010
3,4,The Twilight Saga: Eclipse,PG-13,"Action, Adventure, Crime",300.53,2010
4,5,Harry Potter and the Deathly Hallows: Part 1,PG-13,"Adventure, Family, Fantasy",295.98,2010

In [22]:
# make another DataFrame from the other data file and check the results
second_dataset = 'data/moviedf15_19data.csv'
second_df = pd.read_csv(second_dataset)
second_df.head()

,Unnamed: 0,name,genre,gross,rating,release_year
0,0,Star Wars: Episode VII - The Force Awakens,"Action, Adventure, Sci-Fi",936.66,PG-13,2015
1,1,Jurassic World,"Action, Adventure, Sci-Fi",652.27,PG-13,2015
2,2,Avengers: Age of Ultron,"Action, Adventure, Sci-Fi",459.01,PG-13,2015
3,3,Inside Out,"Animation, Adventure, Comedy",356.46,PG,2015
4,4,Furious 7,"Action, Adventure, Thriller",353.01,PG-13,2015

In [23]:
# get the column names of the new DataFrame
second_df.columns

Index(['Unnamed: 0', 'name', 'genre', 'gross', 'rating', 'release_year'], dtype='object')

In [24]:
# rename the first column
second_df.columns = ['ry_rank', 'name', 'genre', 'gross', 'rating', 'release_year']

In [25]:
# check the results
second_df.head()

,ry_rank,name,genre,gross,rating,release_year
0,0,Star Wars: Episode VII - The Force Awakens,"Action, Adventure, Sci-Fi",936.66,PG-13,2015
1,1,Jurassic World,"Action, Adventure, Sci-Fi",652.27,PG-13,2015
2,2,Avengers: Age of Ultron,"Action, Adventure, Sci-Fi",459.01,PG-13,2015
3,3,Inside Out,"Animation, Adventure, Comedy",356.46,PG,2015
4,4,Furious 7,"Action, Adventure, Thriller",353.01,PG-13,2015

In [30]:
# remove the 'rating' column from the new DataFrame to move it
second_rating = second_df.pop('rating')

In [32]:
# insert the 'rating' column in the desired position to align the columns of the two DataFrames
second_df.insert(2, 'rating', second_rating)

In [33]:
# check the second DataFrame column alignment
second_df.head()

,ry_rank,name,rating,genre,gross,release_year
0,0,Star Wars: Episode VII - The Force Awakens,PG-13,"Action, Adventure, Sci-Fi",936.66,2015
1,1,Jurassic World,PG-13,"Action, Adventure, Sci-Fi",652.27,2015
2,2,Avengers: Age of Ultron,PG-13,"Action, Adventure, Sci-Fi",459.01,2015
3,3,Inside Out,PG,"Animation, Adventure, Comedy",356.46,2015
4,4,Furious 7,PG-13,"Action, Adventure, Thriller",353.01,2015

In [34]:
# check the first DataFrame column alignment
first_df.head()

,ry_rank,name,rating,genre,gross,release_year
0,1,Toy Story 3,G,"Animation, Adventure, Comedy",415.00,2010
1,2,Alice in Wonderland,PG,"Adventure, Family, Fantasy",334.19,2010
2,3,Iron Man 2,PG-13,"Action, Adventure, Sci-Fi",312.43,2010
3,4,The Twilight Saga: Eclipse,PG-13,"Action, Adventure, Crime",300.53,2010
4,5,Harry Potter and the Deathly Hallows: Part 1,PG-13,"Adventure, Family, Fantasy",295.98,2010

In [35]:
# combine the first and second DataFrames into a new DataFrame 'full_df'
full_df = pd.concat([first_df, second_df])

In [36]:
# check the results
full_df.head()

,ry_rank,name,rating,genre,gross,release_year
0,1,Toy Story 3,G,"Animation, Adventure, Comedy",415.00,2010
1,2,Alice in Wonderland,PG,"Adventure, Family, Fantasy",334.19,2010
2,3,Iron Man 2,PG-13,"Action, Adventure, Sci-Fi",312.43,2010
3,4,The Twilight Saga: Eclipse,PG-13,"Action, Adventure, Crime",300.53,2010
4,5,Harry Potter and the Deathly Hallows: Part 1,PG-13,"Adventure, Family, Fantasy",295.98,2010

In [37]:
# another results check
full_df.tail()

,ry_rank,name,rating,genre,gross,release_year
245,45,Maleficent: Mistress of Evil,PG,"Adventure, Family, Fantasy",36.95,2019
246,46,The Intruder,PG-13,"Drama, Horror, Mystery",35.42,2019
247,47,The Hustle,PG-13,"Comedy, Crime",35.42,2019
248,48,Ad Astra,PG-13,"Adventure, Drama, Mystery",35.40,2019
249,49,Cold Pursuit,R,"Action, Crime, Drama",32.14,2019

In [65]:
# find primary_genre, identified as first element of genre info
list(full_df['genre'])[0].split(', ')[0]

'Animation'

In [73]:
# make list of primary_genre info
primary_genre = [genre.split(', ')[0] for genre in full_df['genre']]

In [74]:
# check the results
primary_genre

['Animation',
 'Adventure',
 'Action',
 'Action',
 'Adventure',
 'Action',
 'Animation',
 'Animation',
 'Animation',
 'Animation',
 'Action',
 'Action',
 'Drama',
 'Action',
 'Comedy',
 'Animation',
 'Comedy',
 'Biography',
 'Action',
 'Mystery',
 'Action',
 'Action',
 'Documentary',
 'Comedy',
 'Drama',
 'Action',
 'Adventure',
 'Action',
 'Comedy',
 'Animation',
 'Comedy',
 'Biography',
 'Comedy',
 'Action',
 'Biography',
 'Crime',
 'Action',
 'Action',
 'Adventure',
 'Horror',
 'Action',
 'Drama',
 'Drama',
 'Action',
 'Action',
 'Comedy',
 'Action',
 'Action',
 'Comedy',
 'Action',
 'Adventure',
 'Action',
 'Action',
 'Comedy',
 'Action',
 'Action',
 'Action',
 'Animation',
 'Action',
 'Action',
 'Action',
 'Action',
 'Drama',
 'Comedy',
 'Animation',
 'Animation',
 'Action',
 'Animation',
 'Animation',
 'Animation',
 'Mystery',
 'Animation',
 'Comedy',
 'Action',
 'Animation',
 'Horror',
 'Comedy',
 'Crime',
 'Comedy',
 'Action',
 'Animation',
 'Action',
 'Adventure',
 'Action',
 'Comedy',
 'Action',
 'Action',
 'Comedy',
 'Comedy',
 'Action',
 'Sci-Fi',
 'Action',
 'Animation',
 'Action',
 'Comedy',
 'Biography',
 'Comedy',
 'Drama',
 'Documentary',
 'Drama',
 'Action',
 'Action',
 'Action',
 'Action',
 'Adventure',
 'Adventure',
 'Action',
 'Animation',
 'Comedy',
 'Animation',
 'Animation',
 'Animation',
 'Biography',
 'Action',
 'Drama',
 'Animation',
 'Action',
 'Drama',
 'Animation',
 'Action',
 'Action',
 'Biography',
 'Comedy',
 'Adventure',
 'Action',
 'Drama',
 'Adventure',
 'Comedy',
 'Action',
 'Action',
 'Animation',
 'Drama',
 'Drama',
 'Comedy',
 'Comedy',
 'Action',
 'Action',
 'Action',
 'Comedy',
 'Comedy',
 'Action',
 'Action',
 'Comedy',
 'Action',
 'Action',
 'Comedy',
 'Action',
 'Comedy',
 'Adventure',
 'Drama',
 'Action',
 'Action',
 'Animation',
 'Animation',
 'Action',
 'Drama',
 'Animation',
 'Adventure',
 'Action',
 'Adventure',
 'Action',
 'Action',
 'Action',
 'Animation',
 'Action',
 'Comedy',
 'Crime',
 'Drama',
 'Horror',
 'Comedy',
 'Comedy',
 'Action',
 'Comedy',
 'Action',
 'Action',
 'Animation',
 'Crime',
 'Biography',
 'Biography',
 'Comedy',
 'Animation',
 'Biography',
 'Comedy',
 'Action',
 'Comedy',
 'Action',
 'Biography',
 'Action',
 'Animation',
 'Action',
 'Action',
 'Horror',
 'Biography',
 'Animation',
 'Action',
 'Action',
 'Horror',
 'Drama',
 'Animation',
 'Comedy',
 'Action',
 'Action',
 'Action',
 'Action',
 'Animation',
 'Adventure',
 'Action',
 'Action',
 'Action',
 'Animation',
 'Action',
 'Action',
 'Action',
 'Action',
 'Action',
 'Adventure',
 'Animation',
 'Drama',
 'Action',
 'Comedy',
 'Action',
 'Animation',
 'Action',
 'Adventure',
 'Action',
 'Drama',
 'Biography',
 'Adventure',
 'Animation',
 'Action',
 'Action',
 'Action',
 'Action',
 'Action',
 'Action',
 'Biography',
 'Biography',
 'Action',
 'Comedy',
 'Comedy',
 'Action',
 'Comedy',
 'Horror',
 'Comedy',
 'Animation',
 'Action',
 'Comedy',
 'Adventure',
 'Action',
 'Action',
 'Action',
 'Action',
 'Action',
 'Animation',
 'Action',
 'Animation',
 'Action',
 'Adventure',
 'Drama',
 'Action',
 'Action',
 'Comedy',
 'Action',
 'Action',
 'Animation',
 'Animation',
 'Drama',
 'Animation',
 'Biography',
 'Action',
 'Action',
 'Comedy',
 'Action',
 'Animation',
 'Animation',
 'Action',
 'Comedy',
 'Drama',
 'Action',
 'Comedy',
 'Action',
 'Comedy',
 'Animation',
 'Action',
 'Comedy',
 'Adventure',
 'Action',
 'Comedy',
 'Drama',
 'Action',
 'Biography',
 'Drama',
 'Comedy',
 'Horror',
 'Comedy',
 'Biography',
 'Adventure',
 'Crime',
 'Drama',
 'Action',
 'Action',
 'Animation',
 'Action',
 'Animation',
 'Adventure',
 'Action',
 'Animation',
 'Action',
 'Action',
 'Animation',
 'Animation',
 'Adventure',
 'Action',
 'Biography',
 'Action',
 'Action',
 'Action',
 'Animation',
 'Comedy',
 'Animation',
 'Horror',
 'Action',
 'Action',
 'Action',
 'Biography',
 'Comedy',
 'Animation',
 'Action',
 'Horror',
 'Drama',
 'Drama',
 'Animation',
 'Action',
 'Action',
 'Crime',
 'Adventure',
 'Action',
 'Action',
 'Action',
 'Adventure',
 'Action',
 'Crime',
 'Comedy',
 'Animation',
 'Drama',
 'Drama',
 'Biography',
 'Action',
 'Action',
 'Animation',
 'Action',
 'Family',
 'Action',
 'Action',
 'Action',
 'Action',
 'Horror',
 'Action',
 'Animation',
 'Action',
 'Action',
 'Action',
 'Animation',
 'Action',
 'Horror',
 'Animation',
 'Animation',
 'Biography',
 'Action',
 'Action',
 'Animation',
 'Action',
 'Drama',
 'Action',
 'Adventure',
 'Drama',
 'Comedy',
 'Action',
 'Comedy',
 'Comedy',
 'Crime',
 'Horror',
 'Action',
 'Action',
 'Action',
 'Animation',
 'Action',
 'Animation',
 'Biography',
 'Action',
 'Action',
 'Horror',
 'Animation',
 'Comedy',
 'Adventure',
 'Adventure',
 'Animation',
 'Action',
 'Drama',
 'Biography',
 'Action',
 'Action',
 'Animation',
 'Action',
 'Action',
 'Action',
 'Animation',
 'Action',
 'Action',
 'Biography',
 'Drama',
 'Action',
 'Action',
 'Animation',
 'Animation',
 'Drama',
 'Comedy',
 'Comedy',
 'Animation',
 'Adventure',
 'Horror',
 'Action',
 'Action',
 'Action',
 'Action',
 'Comedy',
 'Horror',
 'Drama',
 'Animation',
 'Crime',
 'Action',
 'Action',
 'Adventure',
 'Drama',
 'Adventure',
 'Biography',
 'Biography',
 'Animation',
 'Comedy',
 'Action',
 'Action',
 'Comedy',
 'Comedy',
 'Action',
 'Horror',
 'Comedy',
 'Action',
 'Comedy',
 'Action',
 'Action',
 'Action',
 'Animation',
 'Animation',
 'Action',
 'Action',
 'Adventure',
 'Drama',
 'Crime',
 'Horror',
 'Action',
 'Action',
 'Animation',
 'Animation',
 'Action',
 'Action',
 'Comedy',
 'Adventure',
 'Drama',
 'Action',
 'Animation',
 'Biography',
 'Action',
 'Comedy',
 'Action',
 'Horror',
 'Comedy',
 'Comedy',
 'Adventure',
 'Action',
 'Action',
 'Horror',
 'Action',
 'Adventure',
 'Horror',
 'Horror',
 'Comedy',
 'Comedy',
 'Drama',
 'Horror',
 'Animation',
 'Adventure',
 'Biography',
 'Comedy',
 'Action',
 'Animation',
 'Adventure',
 'Drama',
 'Comedy',
 'Adventure',
 'Action']

In [75]:
# add new column for primary_genre to DataFrame
full_df['primary_genre'] = primary_genre

In [77]:
# check the results
full_df.tail()

,ry_rank,name,rating,genre,gross,release_year,primary_genre
245,45,Maleficent: Mistress of Evil,PG,"Adventure, Family, Fantasy",36.95,2019,Adventure
246,46,The Intruder,PG-13,"Drama, Horror, Mystery",35.42,2019,Drama
247,47,The Hustle,PG-13,"Comedy, Crime",35.42,2019,Comedy
248,48,Ad Astra,PG-13,"Adventure, Drama, Mystery",35.40,2019,Adventure
249,49,Cold Pursuit,R,"Action, Crime, Drama",32.14,2019,Action